<div class="container">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label for="username"><b>Username</b></label>
      <input
        class="username"
        type="text"
        placeholder="Username"
        name="username"
        formControlName="username"
      />
      <div class="alert alert-danger"
        *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
        Username is required
      </div>

      <label for="password"><b>Password</b></label>
      <input
        class="password"
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <div class="alert alert-danger"
        *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Password is required
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
